<div class="container mt-4">
  <div class="card">
    <h1>Aplicacion Tarea Angular</h1>
    <form action="">
      <div class="from-group">
        <label for="">Tarea: </label>
        <input type="text" [(ngModel)] = "nombreTarea" 
        [ngModelOptions]="{standalone:true}" class="form-control" placeholder="Nueva Tarea">
        <button type="submit" class="btn bt-primary mt-4" (click)="guardar()">guardar</button>
      </div>
    </form>
  </div>
  <div class="container mt-4">
    <h1>Lista de  Tarea</h1>
    <table class="table">
      <thead>
        <h1 *ngIf="!isResultLoades"> Cargando Datos ....</h1>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">TAREA</th>
          <th scope="col">&nbsp;</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarea of listaTareas">
          <td>{{tarea.idTarea}}</td>
          <td>{{tarea.nombre}}</td>
          <td>
            <button type="button" class="btn btn-success" (click)="obtenerTarea(tarea)">Editar</button>
            <button type="button" class="btn btn-danger" (click)="eliminarTarea(tarea)">Eliminar</button>

          </td>

        </tr>
        
      </tbody>
    </table>
  </div>
</div>